.lightboxOverlay { display: none; }
.lightbox .lb-image {display: none; }

@media only screen and (min-width: 768px) {
	.lightboxOverlay { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 1; background-color: #fff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; display: none; }
	.lightbox { position: absolute; left: 0; width: 100%; z-index: 2; text-align: center; line-height: 0; font-weight: normal; }
	.lightbox .lb-image { display: block; min-height: 366px; min-width: 550px; }
	.lightbox a img { border: none; }
	.lb-outerContainer { position: relative; zoom: 1; min-width: 550px; min-height: 366px; margin: 0 auto; }
	.lb-outerContainer:after { content: ""; display: table; clear: both;}
	.lb-container { padding: 0px; position: relative; background: url(../img/loading.gif) no-repeat center center; display: block; }
	.lb-loader { position: absolute; top: 0px; left: 0%; height: 100%; width: 100%; text-align: center; line-height: 0; background: url(../img/loading.gif) no-repeat; }
	.lb-cancel { }
	.lb-nav { position: absolute; top: 50%; margin-top: -32px; left: 0; height: 64px; width: 100%; z-index: 10; }
	.lb-container > .nav { left: 0; }
	.lb-nav a { outline: none;}
	.lb-prev, .lb-next { width: 49%; height: 100%; cursor: pointer; display: block; }
	.lb-prev { margin-left: -60px; float: left; background: url(../img/prev.png) left 48% no-repeat; }
	.lb-next { margin-right: -60px; float: right; background: url(../img/next.png) right 48% no-repeat; }
	.lb-dataContainer { margin: 0 auto; padding-top: 5px; *zoom: 1; width: 100%; }
	.lb-dataContainer:after { content: ""; display: table; clear: both; }
	.lb-data { padding: 0 4px; }
	.lb-data .lb-details { width: 100%;}
	.lb-data .lb-caption { float: right; color: #fff; position: relative; z-index: 999999; margin-top: -40px; padding-right: 22px; font-family: HelveticaNeueLT-UltraLight; font-size: 26px; letter-spacing: 2px; }
	.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 12px; color: #999999; }
	.lb-data .lb-close { display: block; width: 43px; height: 43px; background: url(../img/close.png) top right no-repeat; outline: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; position: absolute; margin-left: 550px; top: 0px; }
	.lb-data .lb-close:hover { cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
}

@media only screen and (min-width: 1140px) {
	.lightboxOverlay { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 9999; background-color: #fff; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); opacity: 0.9; display: none; }
	.lightbox { position: absolute; left: 0; width: 100%; z-index: 10000; text-align: center; line-height: 0; font-weight: normal; }
	.lightbox .lb-image { display: block;  height: 559px; width: 840px; }
	.lightbox a img { border: none; }
	.lb-outerContainer { position: relative; zoom: 1; width: 250; height: 166px; max-width: 840px; max-height: 559px; margin: 0 auto; }
	.lb-outerContainer:after { content: ""; display: table; clear: both;}
	.lb-container { padding: 0px; position: relative; background: url(../img/loading.gif) no-repeat center center; display: block; }
	.lb-loader { position: absolute; top: 0px; left: 0%; height: 100%; width: 100%; text-align: center; line-height: 0; background: url(../img/loading.gif) no-repeat; }
	.lb-cancel { display: block; width: 840px; height: 559px; margin: 0 auto; background: url(../img/loading.gif) no-repeat center center; }
	.lb-nav { position: absolute; top: 50%; margin-top: -32px; left: 0; height: 64px; width: 100%; z-index: 10; }
	.lb-container > .nav { left: 0; }
	.lb-nav a { outline: none;}
	.lb-prev, .lb-next { width: 49%; height: 100%; cursor: pointer; display: block; }
	.lb-prev { margin-left: -60px; float: left; background: url(../img/prev.png) left 48% no-repeat; }
	.lb-next { margin-right: -60px; float: right; background: url(../img/next.png) right 48% no-repeat; }
	.lb-dataContainer { margin: 0 auto; padding-top: 5px; *zoom: 1; width: 100%; }
	.lb-dataContainer:after { content: ""; display: table; clear: both; }
	.lb-data { padding: 0 4px; }
	.lb-data .lb-details { width: 100%;}
	.lb-data .lb-caption { float: right; color: #fff; position: relative; z-index: 999999; margin-top: -80px; padding-right: 44px; font-family: HelveticaNeueLT-UltraLight; font-size: 30px; letter-spacing: 2px; }
	.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 12px; color: #999999; }
	.lb-data .lb-close { display: block; width: 43px; height: 43px; background: url(../img/close.png) top right no-repeat; outline: none; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; position: absolute; margin-left: 840px; top: 0px; }
	.lb-data .lb-close:hover { cursor: pointer; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
}
