@import url("http://hello.myfonts.net/count/2a09d2");
@font-face { font-family: 'HelveticaNeueLT-UltraLight'; src: url('../font/2A09D2_0_0.eot');src: url('../font/2A09D2_0_0d41d.eot?#iefix') format('embedded-opentype'),url('../font/2A09D2_0_0.woff') format('woff'),url('../font/2A09D2_0_0.ttf') format('truetype');}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0;    font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block; }
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; outline:none; }
a:visited { outline: none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #cccccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

body { font-family: Helvetica, Arial, sans-serif; font-size: 12px; font-weight: 300; -webkit-font-smoothing: antialiased; }

.clear { clear: both; }


body { background: #fff; }

#page { background: #fff; display: block; border-left: 15px solid #fff; border-right: 15px solid #fff; overflow: hidden; min-width: 245px; width: auto; margin: 0px auto;  margin-top: 0px; }
.wrapper { display: block; min-width: 245px; width: auto; margin: 0px auto; }

.header-container nav ul { display: none; }

.mobile-nav a.logo { display: block; height: 61px; width: 119px; padding-top: 15px; padding-bottom: 10px; margin-bottom: 15px; margin: 0px auto; }
.mobile-nav a.logo img { width: 119px; height: auto; }
.mobile-nav a.nav-click { background: url(../img/canvas.png) no-repeat 75px -94px; color:#939DA3; display: block; height: 31px; line-height: 30px; padding-left: 24px; letter-spacing: 2px; text-align: center; width: 245px; margin: 10px auto; }

#divMenu { display: none; }

.header-mobile {  display: block; width: 100%; left: -15px; margin-top: 0px; height: 1px; position: absolute; }
.header-tablet { background: #fff; display: block; height: 100px; position: absolute; top: 0px; left: 0px; width: 100%; z-index: -1; }

.mobile-nav { }
.mobile-nav ul { list-style: none; padding-bottom: 7px; }
.mobile-nav ul li { border-top: 1px solid #D8D8D8; height: 30px; text-align: center; }
.mobile-nav ul li a { color: #939DA3; display: block; font-size: 10px; line-height: 30px; text-transform: uppercase; letter-spacing: 2px; }

.container { background: #775C36; display: block; min-width: 245px; position: relative; }

.container-page { display: block; min-width: 245px; height: auto; position: relative; }
	
.back-page { background: #fff; display: block; width: 100%; position: relative; opacity: 1; }

.container a.scroll-down, .container-page a.scroll-down { bottom: 35px; color: #fff; display: none; font-size: 12px; right: 30px; position: absolute; text-align: center; text-transform: uppercase; width: 130px; z-index: 9999; letter-spacing:0.1em; }

.container-page a.scroll-down { color: #000; }
	
.text_container { position: absolute; bottom: 30px; left: 25px; width:245px; z-index:1000; }
	
.slide-caption h1 { color: #fff; font-size: 20px; font-family: HelveticaNeueLT-UltraLight; text-transform: uppercase; letter-spacing: 2px; }
.slide-caption div.slide-description { display: block; margin-top: 5px; }
.slide-caption div.slide-description p { color: #fff; font-size: 9px; line-height:20px; text-transform: uppercase; letter-spacing: 0.5em; font-family:HelveticaNeueLT-UltraLight; }

#prev { height: 24px; right: 55px; position: absolute; text-indent: -9999px; top: 30px; width: 24px; background: url("../img/canvas.png") no-repeat left 0px; transition: right ease .25s; -webkit-transition:right ease .25s; z-index: 9999; outline: none; padding-right: 10px; }
#prev:hover { background-position: left -48px; right: 60px; }
	
#next:hover { background-position: left -72px; right: 10px; transition: right ease .25s; -webkit-transition:right ease .25s;	}
#next { height: 24px; position: absolute; right: 15px; text-indent: -9999px; top: 30px; width: 24px; background: url("../img/canvas.png") no-repeat left -24px; transition: right ease .25s; -webkit-transition:right ease .25s; outline: none; padding-left: 10px; }

.main-container { background: #fff; margin: 0px auto; min-width: 245px; width: 245px; }
		
.story-content {  text-align: center; padding-top: 80px; padding-bottom:30px; }
.story-content img { width: 245px; height: auto; }
.story-content p { color:#939DA3; font-size: 16px; line-height: 1.4em; margin: 15px auto; text-align: left; text-transform: uppercase; width: 245px; letter-spacing:.1em; font-family:HelveticaNeueLT-UltraLight; }
	
#gallery-content { min-width: 245px; width: 245px; margin: 0px auto; }

p.normalText {
	text-transform:none;
	font-size: 13px;
	line-height:1.8em;
	margin-top:20px;
	
	
	column-count:0;
	column-gap:80px;
	
	/* Firefox */
	-moz-column-count:0;
	-moz-column-gap:80px;
	
	/* Safari and Chrome */
	-webkit-column-count:0;
	-webkit-column-gap:80px;
}

#gallery-content { background: #fff; display: block; height: 848px; border-top: 25px solid #fff; }
#gallery-content ul { display: block; height: 100%; }
#gallery-content ul li { background: #A8CC40; cursor: pointer; display: block; float: left; height: 20%; overflow: hidden; position: relative; width: 50%; }
#gallery-content ul li img { display: block; min-width: 500px; width: 100%; height: auto; max-height: 520px; position: absolute; transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -webkit-transition: opacity .35s ease-in-out; position: absolute; transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -webkit-transition: opacity .35s ease-in-out; top: 50%; margin-top: -260px; left: 50%; margin-left: -250px; }
#gallery-content ul li:hover img { opacity: 1; }
#gallery-content ul li h2 { color: #fff; opacity: 0; font-size: 16px; font-weight: normal; line-height: 20px; position: absolute; top: 40%; text-align: center; text-transform: uppercase; width: 80%; transition: opacity .15s ease-in-out; -moz-transition: opacity .15s ease-in-out; -webkit-transition: opacity .15s ease-in-out; padding: 0px 10%; }
#gallery-content ul li h2 span { display: none; }
#gallery-content ul li:hover h2 { opacity: 0; }

#contact-content { padding-top: 45px; position: relative; }
#contact-content h1 { border-bottom: 1px solid #E7E9EA; color: #939DA3; font-size: 30px; font-family: HelveticaNeueLT-UltraLight; font-weight:normal; text-transform: uppercase; padding-bottom: 20px; }
#contact-content .main-container div { color: #939DA3; display: block; float: left; font-size: 12px; line-height: 24px; padding-top: 20px; margin-bottom: 0px; }
#contact-content .main-container div strong { font-weight: bold; text-transform: uppercase; }
#contact-content .main-container div a { color: #939DA3; }
#contact-content .main-container { padding-bottom: 18px; }
#contact-content .main-container hr { border: none; border-top: 1px solid #E7E9EA; background: none; height: 1px; !important display: block; }

#contact-content .main-container a:hover, #contact-content .main-container a:hover.enquiry-link { color: #41515B; }

#contact-content .main-container div.box1 { width: 256px; }
#contact-content .main-container div.box2 { width: 150px; }
#contact-content .main-container div.box3 { width: 240px; }
#contact-content .main-container div.box { margin-bottom: 30px; }
	
#contact-content .main-container div.box strong { display: block; float: left; margin-right: 10px; }
#contact-content .main-container div.box a { background: #939DA3; color: #fff; display: block; height: 20px; line-height: 20px; overflow: hidden; text-align: center; width: 20px; }
#contact-content .main-container div.box a:hover { background: #41515B; color: #fff; }

#contact-content .main-container a.enquiry-link { color: #939DA3; display: inline-block; font-size: 13px; font-weight: bold; margin-top:20px; text-transform: uppercase; }
#contact-content .main-container a.enquiry-link:before { content: "> "; }
	
.footer-container { border-top: 1px solid #E7E9EA; display: block; padding: 35px 0px; margin-top: 12px; }
.footer-container p { color: #939DA3; width: 245px; margin: 0px auto; }
.footer-container p.pieces {
	margin-top:10px;
}
.footer-container p.pieces a {
		color:#939DA3;
		font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 300;
}
#imageBox { display: none; position: absolute; z-index: 1; width: 100%; top: 0px; left: 0px; }
#imageBox img { width: 100%; height: auto; }
#imageBox a { display: block; background: url(../img/close.png) no-repeat; height: 65px; width: 65px; position: absolute; z-index: 99; right: 30px; top: 30px; overflow: hidden; text-indent: -9999px; }

.enquiry-form { display: none; background: #E7E9EA; color: #9CA5AC; margin: 0px auto; width: 245px; height: 395px; left: 50%; margin-left: -122.5px; padding-top: 0px; position: absolute; bottom: 0px; }
.enquiry-form h2 { color: #939DA3; font-size: 18px; font-weight: normal; text-transform: uppercase; margin-left: 15px; padding-top: 25px; }
.enquiry-form fieldset { margin: 12px 15px; }
.enquiry-form fieldset input.field { color: #9CA5AC; height: 28px; border: 1px solid #fff; width: 90%; padding: 0px 5%; margin-bottom: 7px; } 
.enquiry-form fieldset textarea.area { color: #9CA5AC; height: 150px; border: 1px solid #fff; width: 90%; padding: 10px 5%; margin-bottom: 7px; resize: none; } 
.enquiry-form span { margin-left: 0px; display: block; float: left; margin-top: 10px; }
.enquiry-form fieldset button { background: #939EA4; color: #fff; height: 26px; border: 1px solid #939EA4; width: 81px; float: right; text-transform: uppercase; font-size: 14px; } 
.enquiry-form a.enquiry-close {background: url(../img/close-form.png) no-repeat; height: 25px; width: 25px; display: block; position: absolute; top: 20px; right: 15px; overflow: hidden; text-indent: -9999px; }
.enquiry-form fieldset button:hover { background: #41515B; }

#equiry { position: relative; }
#enquiry div#result { position: absolute; top: 0px; } 
#enquiry div#result .error p { color: red; dusplay: block; padding-left: 63px; padding-top: 30px;  }
div.success { display: block; }
div.success p { display: block; line-height: 22px; }
#enquiry fieldset div.success button { float: left; margin-top: 20px; }

.lb-data .lb-caption {
	font-size:18px !important;
	margin-top:-60px !important ;
}
h1.qualitySlide {
font-family: 'Lora', serif;
}

@media only screen and (min-width: 768px) {
	body { background: #fff; border-bottom: 25px solid #fff; }
	
	.header-tablet { background: #fff; display: block; height: 134px; position: absolute; top: 0px; left: 0px; width: 100%; }
	
	#page { background: #fff; display: block; border-left: 25px solid #fff; border-right: 25px solid #fff; overflow: hidden; min-width: 700px; width: auto; margin: 0px auto; }
	.wrapper { display: block; width: 650px; margin: 0px auto; }
	
	.header-container { height: 134px; position: relative; overflow: hidden; width: auto; }
	.header-container ul { display: block; height: 112px; margin: 0px auto; position: relative; width: 650px; min-width: 650px; }
	.header-container ul li { display: block; float: left; height: 112px; margin-top: 98px; position: relative; text-align: center; width: 100px; }
	.header-container ul li.logo { width: 240px; margin-top: 29px; }
	.header-container ul li a { color: #929DA3; font-size: 12px; text-transform: uppercase; font-family:HelveticaNeueLT-UltraLight; letter-spacing:.1em; }
	.header-container ul li a:hover { color: #41515B; }
	.header-container div.mobile-nav { display: none;}
	.header-container nav ul { display: block; }

	.container { background: #775C36; display: block; min-width: 650px; position: relative; }
	
	.container-page { display: block; min-width: 650px; max-height: 361px; position: relative; }
	
	.back-page { background: #fff; display: block; width: 100%; position: relative; opacity: 1; }
	
	.container a.scroll-down, .container-page a.scroll-down { bottom: 54px; color: #fff; display: block; font-size: 12px; left: 0px; right: 0px; margin: 0px auto; position: absolute; text-align: center; text-transform: uppercase; width: 130px; }
	
	.container-page a.scroll-down { color: #000; }
	
	.text_container { position: absolute; top: 40%; width:650px; left:50%; margin-left:-325px; text-align:center; z-index:1000; }
	
	.slide-caption h1 { color: #fff; font-size: 49px; font-family: HelveticaNeueLT-UltraLight; margin: 0px auto; text-transform: uppercase; width: 400px; }
	.slide-caption div.slide-description { display: block; margin: 0px auto; width: 605px; margin-top: 13px; }
	.slide-caption div.slide-description p { color: #fff; font-size: 14px; line-height:22px; text-transform: uppercase; letter-spacing: 0.5em; font-family:HelveticaNeueLT-UltraLight; }
	
	#prev { height: 24px; left: 0; position: absolute; text-indent: -9999px; top: 48%; width: 24px; background: url("../img/canvas.png") no-repeat left 0px; left: 2.5%; transition: left ease .25s; -webkit-transition:left ease .25s;	 z-index: 9999; outline: none; padding-right: 10px; }
	#prev:hover { background-position: left -48px; left: 2%; transition: left ease .25s; -webkit-transition:left ease .25s; }
	
	#next:hover { background-position: left -72px; right: 2%; transition: right ease .25s;	-webkit-transition:right ease .25s;	}
	#next { height: 24px; position: absolute; text-indent: -9999px; top: 48%; width: 24px; background: url("../img/canvas.png") no-repeat left -24px; right: 2.5%; transition: right ease .25s; -webkit-transition:right ease .25s; outline: none; padding-left: 10px; }
	
	.main-container { background: #fff; margin: 0px auto; min-width: 650px; }
		
	.story-content {  text-align: left; padding-top: 82px; padding-bottom: 41px; }
	.story-content img { width: 570px; height: auto; }
	.story-content p { color:#939DA3; font-size: 17px; line-height: 26px; margin: 20px 0; text-transform: uppercase; width: 620px; text-align: left; font-family:HelveticaNeueLT-UltraLight; }
	
	#gallery-content { min-width: 650px; width: 650px; margin: 0px auto; }
	
	#gallery-content { background: #fff; display: block; overflow: hidden; height: 361px; border-top: 25px solid #fff; }
	#gallery-content ul { display: block; height: 100%; }
	#gallery-content ul li { background: #A8CC40; cursor: pointer; display: block; float: left; height: 50%; overflow: hidden; position: relative; width: 20%; }
	#gallery-content ul li img { display: block; min-width: 500px; width: 100%; height: auto; max-height: 520px; position: absolute; transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -webkit-transition: opacity .35s ease-in-out; position: absolute; transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -webkit-transition: opacity .35s ease-in-out; top: 50%; margin-top: -260px; left: 50%; margin-left: -250px; }
	#gallery-content ul li:hover img { opacity: 0.2; }
	#gallery-content ul li h2 {font-family: HelveticaNeueLT-UltraLight; color: #fff; opacity: 0; font-size: 15px; font-weight: normal; line-height: 20px; position: absolute; top: 40%; text-align: center; text-transform: uppercase; width: 80%; transition: opacity .15s ease-in-out; -moz-transition: opacity .15s ease-in-out; -webkit-transition: opacity .15s ease-in-out; padding: 0px 10%; }
	#gallery-content ul li h2 span { display: none; }
	#gallery-content ul li:hover h2 { opacity: 1; }
	
	#contact-content { padding-top: 60px; position: relative; }
	#contact-content h1 { border-bottom: 1px solid #E7E9EA; color: #939DA3; font-family: HelveticaNeueLT-UltraLight; text-transform: uppercase; font-size: 30px; font-weight:normal; padding-bottom: 35px; }
	#contact-content .main-container div { color: #939DA3; display: block; float: left; font-size: 12px; line-height: 24px; padding-top: 25px; margin-bottom: 30px; }
	#contact-content .main-container div strong { font-weight: bold; text-transform: uppercase; }
	#contact-content .main-container div a { color: #939DA3; }
	#contact-content .main-container { padding-bottom: 18px; width: 650px; position: relative; }
	#contact-content .main-container hr { border: none; border-top: 1px solid #E7E9EA; background: none; height: 1px; !important display: block; }
	
	#contact-content .main-container a:hover, #contact-content .main-container a:hover.enquiry-link { color: #41515B; }
	
	#contact-content .main-container div.box1 { width: 256px; }
	#contact-content .main-container div.box2 { width: 150px; }
	#contact-content .main-container div.box3 { width: 240px; }
	#contact-content .main-container div.box { position: absolute; right: 20px;  top: 195px; }
	
	#contact-content .main-container div.box strong { display: block; float: left; margin-right: 10px; }
	#contact-content .main-container div.box a { background: #939DA3; color: #fff; display: block; height: 20px; line-height: 20px; overflow: hidden; text-align: center; width: 20px; }
	#contact-content .main-container div.box a:hover { background: #41515B; color: #fff; }
	
	#contact-content .main-container a.enquiry-link { color: #939DA3; display: inline-block; font-size: 17px; font-weight: bold; margin-top:35px; text-transform: uppercase; }
	#contact-content .main-container a.enquiry-link:before { content: "> "; }
	
	.footer-container { background: #41515B; border: none; display: block; padding: 60px 0px; margin-top: 80px; }
	.footer-container p { color: #fff; width: 650px; margin: 0px auto; }
	.footer-container p.copyright {
    display: inline;
    float: left;
    width: 250px;
	}
.footer-container p.pieces {
	margin-top:0px;
	float: right;
    width: 300px;
	text-align:right;
}
	.footer-container p.pieces a {
		color:#fff;
		font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 300;
}
	
	.enquiry-form { display: none; background: #E7E9EA; color: #9CA5AC; margin: 0px auto; width: 558px; height: 565px; left: 50%; margin-left: -279px; padding-top: 80px; position: absolute; bottom: -71px; }	
	.enquiry-form h2 { color: #939DA3; font-size: 26px; font-weight: normal; text-transform: uppercase; margin-left: 63px; padding-top: 0px; }
	#contact_form { display: block; margin: 32px 63px; !important }
	.enquiry-form fieldset input.field { color: #9CA5AC; height: 38px; border: 1px solid #fff; width: 80%; padding: 0px 10%; margin-bottom: 14px; } 
	.enquiry-form fieldset textarea.area { color: #9CA5AC; height: 146px; border: 1px solid #fff; width: 80%; padding: 20px 10%; margin-bottom: 14px; resize: none; } 
	.enquiry-form fieldset { margin-left: 0px; display: block; float: left; margin-top: 15px; }
	.enquiry-form fieldset button { background: #939EA4; color: #fff; height: 35px; border: 1px solid #939EA4; width: 121px; float: right; text-transform: uppercase; font-size: 20px; } 
	.enquiry-form fieldset button:hover { background: #41515B; }
	.enquiry-form a.enquiry-close {background: url(../img/close-form.png) no-repeat; height: 25px; width: 25px; display: block; position: absolute; top: 32px; right: 22px; overflow: hidden; text-indent: -9999px; }
	
	#equiry { position: relative; }
	#enquiry div#result { position: absolute; top: 0px; } 
	#enquiry div#result .error p { color: red; dusplay: block; padding-left: 63px; padding-top: 40px;  }
	div.success { display: block; }
	div.success p { display: block; line-height: 22px; }
	#enquiry fieldset div.success button { float: left; margin-top: 20px; }
	
	p.normalText {
	text-transform:none;
	font-size: 13px;
	line-height:1.8em;
	margin-top:30px;
	
	
	column-count:2;
	column-gap:80px;
	
	/* Firefox */
	-moz-column-count:2;
	-moz-column-gap:80px;
	
	/* Safari and Chrome */
	-webkit-column-count:2;
	-webkit-column-gap:80px;
}
h1.qualitySlide {
font-family: 'Lora', serif;
font-size:38px;
width:auto;
margin-top:20px;
}
}

@media only screen and (min-width: 1140px) {
	body { background: #fff; border-bottom: 25px solid #fff; }
	.header-tablet { display: none; }
	#page { display: block; border-left: 25px solid #fff; border-right: 25px solid #fff; overflow: hidden; width: auto; }
	
	.wrapper { display: block; min-width: 960px; width: 960px; margin: 0px auto; }
	
	.header-container { height: 134px; position: relative; overflow: hidden; }
	.header-container ul { display: block; height: 112px; margin: 0px auto; position: relative; width: 730px; }
	.header-container ul li { display: block; float: left; height: 112px; margin-top: 98px; position: relative; text-align: center; width: 115px; }
	.header-container ul li.logo { width: 250px; margin-top: 29px; }
	.header-container ul li a { color: #929DA3; font-size: 12px; text-transform: uppercase; }
	.header-container ul li a:hover { color: #41515B; }
	.header-container nav ul { display: block; }
	
	.header-container div.mobile-nav { display: none;}
	
	.container { background: #775C36; border-bottom: 25px solid #fff; display: block; min-width: 960px; position: relative; }
	
	.container-page { display: block; min-width: 960px; min-height: 848px; max-height: 100%; position: relative; }
	
	.back-page { background: #fff; display: block; width: 100%; position: relative; opacity: 1; padding-bottom: 70px; }
	
	.container a.scroll-down, .container-page a.scroll-down { bottom: 54px; color: #fff; display: block; font-size: 12px; left: 0px; right: 0px; margin: 0px auto; position: absolute; text-align: center; text-transform: uppercase; width: 130px; }
	.container-page a.scroll-down { color: #000; }
	
	.text_container { display: none; position: absolute; top: 40%; width:960px; left:50%; margin-left:-480px; text-align:center; z-index:1000; }

	.slide-caption h1 { color: #fff; font-family: HelveticaNeueLT-UltraLight; font-size: 63px; font-weight: 100; margin: 0px auto; text-transform: uppercase; width: 800px; }
	.slide-caption div.slide-description { display: block; margin: 0px auto; width: 605px; margin-top: 25px; }
	.slide-caption div.slide-description p { color: #fff; font-size: 14px; line-height:29px; text-transform: uppercase; letter-spacing: 0.5em; font-family:HelveticaNeueLT-UltraLight; }
	
	#prev { height: 24px; left: 0; position: absolute; text-indent: -9999px; top: 48%; width: 24px; background: url("../img/canvas.png") no-repeat left 0px; left: 2.5%; transition: left ease .25s; -webkit-transition:left ease .25s;	 z-index: 9999; outline: none; padding-right: 10px; }
	#prev:hover { background-position: left -48px; left: 2%; transition: left ease .25s; -webkit-transition:left ease .25s; }
	
	#next:hover { background-position: left -72px; right: 2%; transition: right ease .25s;	-webkit-transition:right ease .25s;	}
	#next { height: 24px; position: absolute; text-indent: -9999px; top: 48%; width: 24px; background: url("../img/canvas.png") no-repeat left -24px; right: 2.5%; transition: right ease .25s; -webkit-transition:right ease .25s; outline: none; padding-left: 10px; }

	.main-container { background: #fff; margin: 0px auto; min-width: 960px; width: 960px; }
		
	.story-content {  text-align: center; padding-top: 120px; }
	.story-content img { width: 930px; height: auto; }
	.story-content p { color:#939DA3; font-family: HelveticaNeueLT-UltraLight; font-size: 26px; line-height: 30px; margin:20px auto; text-transform: uppercase; width: 930px; text-align: left; }
	
	#gallery-content { min-width: 960px; width: auto; }
	
	#gallery-content { background: #6A6A6A; display: block; overflow: hidden; border-top: 25px solid #fff; }
	#gallery-content ul { display: block; height: 100%; }
	#gallery-content ul li { background: #A8CC40; cursor: pointer; display: block; float: left; height: 50%; overflow: hidden; position: relative; width: 20%; }
	#gallery-content ul li img { display: block; min-width: 500px; width: 100%; height: auto; max-height: 520px; position: absolute; transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -webkit-transition: opacity .35s ease-in-out; position: absolute; transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -webkit-transition: opacity .35s ease-in-out; }
	#gallery-content ul li:hover img { opacity: 0.2; }
	#gallery-content ul li h2 { color: #fff; opacity: 0; font-family: HelveticaNeueLT-UltraLight; font-size: 21px; letter-spacing: 2px; font-weight: normal; position: absolute; top: 45%; text-align: center; text-transform: uppercase; width: 100%; transition: opacity .15s ease-in-out; -moz-transition: opacity .15s ease-in-out; -webkit-transition: opacity .15s ease-in-out; padding: 0px 0px; }
	#gallery-content ul li h2 span { display: block; font-size: 11px; padding-top: 10px; }
	#gallery-content ul li:hover h2 { opacity: 1; }
	
	#contact-content { padding-top: 110px; }
	#contact-content h1 { border-bottom: 1px solid #E7E9EA; color: #939DA3; font-family: HelveticaNeueLT-UltraLight; font-size: 60px; letter-spacing: 2px; font-weight:normal; padding-bottom: 35px; text-transform: uppercase; }
	#contact-content .main-container div { color: #939DA3; display: block; float: left; font-size: 12px; line-height: 24px; padding-top: 30px; margin-bottom: 35px; }
	#contact-content .main-container div strong { font-weight: bold; text-transform: uppercase; }
	#contact-content .main-container div a { color: #939DA3; }
	#contact-content .main-container { padding-bottom: 18px; }
	#contact-content .main-container hr { border: none; border-top: 1px solid #E7E9EA; background: none; height: 1px; !important display: block; }
	
	#contact-content .main-container a:hover, #contact-content .main-container a:hover.enquiry-link { color: #41515B; }
	
	#contact-content .main-container div.box1 { width: 320px; }
	#contact-content .main-container div.box2 { width: 188px; }
	#contact-content .main-container div.box3 { width: 260px; }
	#contact-content .main-container div.box { position: relative; right: 0px; top: 0px; }
	
	#contact-content .main-container div.box strong { display: block; float: left; margin-right: 10px; }
	#contact-content .main-container div.box a { background: #939DA3; color: #fff; display: block; height: 20px; line-height: 20px; overflow: hidden; text-align: center; width: 20px; }
	#contact-content .main-container div.box a:hover { background: #41515B; color: #fff; }
	
	#contact-content .main-container a.enquiry-link { color: #939DA3; display: inline-block; font-size: 17px; font-weight: bold; margin-top:45px; text-transform: uppercase; }
	#contact-content .main-container a.enquiry-link:before { content: "> "; }
	
	.footer-container { background: #41515B;border: none; display: block; padding: 60px 0px; margin-top: 80px; }
	.footer-container p { color: #fff; width: 960px; margin: 0px auto; }
	.footer-container p.copyright {
		float:left;
		display:inline;
		width:auto;
	}
	.footer-container p.pieces {
		float:right;
		display:inline;
		width:auto;
		color:#fff;
		margin-top:0;
	}
	.footer-container p.pieces a {
		color:#fff;
		font-family: Helvetica,Arial,sans-serif;
    	font-size: 12px;
    	font-weight: 300;
}
	.enquiry-form { display: none; background: #E7E9EA; color: #9CA5AC; margin: 0px auto; width: 558px; height: 618px; left: 50%; margin-left: -309px; padding-top: 80px; position: absolute; bottom: -71px; }
	.enquiry-form h2 { color: #939DA3; font-size: 30px; font-weight: normal; text-transform: uppercase; margin-left: 63px; padding-top: 0px; }
	.enquiry-form fieldset { margin: 32px 63px; }
	.enquiry-form fieldset input.field { color: #9CA5AC; height: 54px; border: 1px solid #fff; width: 80%; padding: 0px 10%; margin-bottom: 14px; } 
	.enquiry-form fieldset textarea.area { color: #9CA5AC; height: 146px; border: 1px solid #fff; width: 80%; padding: 20px 10%; margin-bottom: 14px; resize: none; } 
	.enquiry-form span { margin-left: 0px; display: block; float: left; margin-top: 20px; }
	.enquiry-form fieldset button { background: #939EA4; color: #fff; height: 50px; border: 1px solid #939EA4; width: 121px; float: right; text-transform: uppercase; font-size: 20px; } 
	.enquiry-form fieldset button:hover { background: #41515B; }
	.enquiry-form a.enquiry-close {background: url(../img/close-form.png) no-repeat; height: 25px; width: 25px; display: block; position: absolute; top: 32px; right: 22px; overflow: hidden; text-indent: -9999px; }
	
	#equiry { position: relative; }
	#enquiry div#result { position: absolute; top: 0px; } 
	#enquiry div#result .error p { color: red; dusplay: block; padding-left: 63px; padding-top: 40px;  }
	div.success { display: block; }
	div.success p { display: block; line-height: 22px; }
	#enquiry fieldset div.success button { float: left; margin-top: 20px; }
	
	h1.qualitySlide {
font-family: 'Lora', serif;
font-size:52px;
}
p.normalText {
	text-transform:none;
	font-size: 14px;
	line-height:1.8em;
	margin-top:30px;
	
	
	column-count:2;
	column-gap:80px;
	
	/* Firefox */
	-moz-column-count:2;
	-moz-column-gap:80px;
	
	/* Safari and Chrome */
	-webkit-column-count:2;
	-webkit-column-gap:80px;
}

	
}

#spinner { } 
.lazy { display: none; }

::selection {
	background: #41515B; /* Safari */
	color:#fff;
	}
::-moz-selection {
	background: #41515B; /* Firefox */
	color:#fff;
}